body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
font-family: monospace;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.list-item-box{
  margin-top: 5px;
  border: 2px solid  black;
}


.bg-steel {
  background-color: #5f788a;


}

.site-header .navbar-nav .nav-link {
  color: #444444;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 2px solid #000;
  border-radius: 0px;
  margin-bottom: 20px;
}

.solid-box{
  border: 3px solid black;
  box-shadow: 5px 5px black;
}

.nav-link{
  margin: 2px 2px 2px 2px ;
}
.nav-link:hover{
  margin: 2px 2px 2px 2px ;
  animation-duration: 1s;
  border:1px solid black;
  background-color: rgb(141, 176, 241);
}   

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

